mixin stylesheet_tag(src)
  link(rel='stylesheet' href='/stylesheets/#{src}.css')

mixin font_link_tag(src)
  link(href="#{src}" rel="stylesheet" type="text/css")

mixin script_tag(src)
  script(type="text/javascript" src="/javascripts/#{src}.js")
