include partials/_mixins.jade

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    +script_tag("vendor/all")
    +script_tag("handlebars_templates")
  body
    header
      div(id="cart")
    main
      block content

    +script_tag("application")
    +script_tag("models/album")
    +script_tag("collections/albums")
    +script_tag("collections/cart_items")
    +script_tag("views/albums")
    +script_tag("views/index")
    +script_tag("views/newAlbum")
    +script_tag("views/cart")
    script.
      App.albums = new Albums(!{JSON.stringify(albums)});
    +script_tag("router")
    block scripts
