<form action="/albums" method="post">
  <label>Title
    <input type="text" name="title">
  </label>
  <label>Artist
    <input type="text" name="artist">
  </label>
  <label>Date
    <input type="date" name="date">
  </label>
  <label>Cover
    <input type="text" name="cover">
  </label>
  <label>Price
    <input type="number" name="price">
  </label>
  <input type="submit">
</form>