@import "whitespace-reset.css";
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header {
  position: relative;
}
header,
main {
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
}
#index a {
  color: #00b7ff;
  text-decoration: none;
}
#index ul {
  list-style: none;
  text-align: center;
}
#index li {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 10px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
#index img {
  width: 100%;
}
#index figcaption {
  text-align: left;
  padding-bottom: 15px;
}
#index h1 {
  font-size: 1.5em;
  padding-bottom: 8px;
}
#index h2 {
  font-size: 1.2em;
}
#index h4 {
  font-size: 0.8em;
}
#index h2,
#index h3,
#index h4 {
  padding-bottom: 5px;
}
#index footer a.button {
  width: 200px;
}
#cart {
  line-height: 30px;
}
#cart label {
  float: right;
}
#cart #items {
  color: #fff;
  visibility: hidden;
  background-color: #008000;
  padding: 5px 10px;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
}
#cart input:checked + #items {
  visibility: visible;
}
#cart span {
  float: right;
  padding-left: 20px;
}
#cart li a {
  margin-right: 8px;
  font-size: 16px;
  color: #b22;
  text-decoration: none;
}
#cart h2 {
  float: right;
  font-size: 16px;
}
.button {
  background-color: #ddd;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 2px 10px;
  width: 80%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto 10px auto;
}
.button:hover {
  background-color: #aaa;
  color: #eee;
}
.hidden {
  display: none;
}
label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}
input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  height: 30px;
  border: 1px solid #808080;
  font-size: 1.15em;
  padding-left: 5px;
  margin-top: 5px;
}
input[type='submit'] {
  width: 50%;
  min-width: 100px;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
  background: linear-gradient(to bottom, #ddd, #aaa);
  border: 2px solid #808080;
  height: 35px;
}
input[type='submit']:hover {
  background: linear-gradient(to bottom, #aaa, #777);
  color: #ddd;
}
